@tailwind base;
@tailwind components;
@tailwind utilities;

.Banner {
    height: 100vmin;
    background-repeat: no-repeat;
    background-color: white;
    background-position: center;
    background-size: contain;
}
.Banner.even {
    opacity: 0.7;
    background-color: rgb(246, 181, 255);
}

.BackTop {
  height: 40;
  width: 40;
  line-height: '40px';
  border-radius: 6;
  background-color: '#1088e9';
  color: '#fff';
  text-align: 'center';
  font-size: 14;
}
