* {
  box-sizing: border-box !important;
}

body {
  overflow-x: hidden;
}

#root {
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  z-index: 9999;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #599e3d;
}

::-webkit-scrollbar-thumb:hover {
  background: #45792f;
}

.sq-wallet-unavailable {
  text-align: center;
}

.Banner {
  height: 93.5vmin;
  background-repeat: no-repeat;
  background-size: contain;
}

.Banner.even {
  opacity: 0.7;
  background-position: left;
  background-color: #b462f1;
}

.Banner.odd {
  background-position: right;
  opacity: 0.7;
  background-color: #71bc52;
}

.layout-window {
  height: 100%;
}

.new-client-form-card {
  margin: 5px;
}

#contact-popover > .avatar {
  position: fixed;
  z-index: 9997;
  bottom: 20px;
  right: 20px;
  background-color: #b462f1;
  -webkit-box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.97);
  -moz-box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.97);
  box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.97);
  width: 50px;
  height: 50px;
  display: flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
}

#contact-popover > .avatar:hover {
  cursor: pointer;
}

#contact-form {
  z-index: 9998;
}

.ant-popover-title {
  background-color: #b462f1 !important;
}

@media screen and (max-width: 600px) {
  .ant-popover {
    left: 0 !important;
    top: 0 !important;
    padding: 0 !important;
    width: 100vw;
    height: 100vh;
    position: fixed !important;
  }

  #contact-form {
    width: 100%;
    height: 100%;
  }

  .ant-popover-content,
.ant-popover-inner {
    height: inherit;
  }
}
@media screen and (min-width: 601px) {
  #contact-form {
    width: 50vw;
  }
}
.menu-button {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
}

.nav-menu-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

@keyframes nav-appear {
  to {
    left: 0;
  }
}
@keyframes nav-disappear {
  to {
    left: -100vh;
  }
}
#open-button {
  color: white;
  align-self: center;
}

@media screen and (max-width: 600px) {
  .nav-menu-container {
    position: fixed;
    left: -100vw;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background-color: white;
    overflow-y: scroll;
  }

  .nav-open {
    animation-name: nav-appear;
    animation-fill-mode: forwards;
    animation-duration: 0.2s;
  }

  .nav-closed {
    animation-name: nav-disappear;
    animation-fill-mode: forwards !important;
    animation-duration: 0.5s;
  }

  #open-button {
    position: absolute;
    left: 5px;
    top: 5px;
  }

  #close-button {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  .menu-button:hover {
    background-color: #b462f1;
  }
}
@media screen and (min-width: 601px) {
  .nav-menu-container {
    flex-direction: row;
  }

  .nav-menu-container > #close-button {
    display: none;
  }

  .menu-button:hover {
    background-color: white;
  }

  #open-button {
    display: none;
  }
}
.navigation {
  background-color: #b462f1 !important;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.navigation > .ant-menu-item-selected a,
.navigation > .ant-menu-item-active a {
  color: white !important;
}

.navigation > .ant-menu-item-selected,
.navigation > .ant-menu-item-active {
  color: white !important;
  border-color: white !important;
}

.navigation > svg {
  color: white !important;
}

#page-footer {
  background-color: #b462f1 !important;
  color: white !important;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.site-content {
  padding-top: 64px;
  padding-bottom: 60px;
  overflow: scroll;
  background-color: white !important;
}

.home-page {
  width: 98%;
  margin: 5px;
}

.home-page > h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 0;
  color: #71bc52;
}

.home-page > h2 {
  font-size: 20px;
  text-align: center;
  color: #b462f1;
}

.home-page > img {
  width: 100%;
  -webkit-box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.97);
  -moz-box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.97);
  box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.97);
}

.home-page > .action-banner {
  background-color: #71bc52;
  margin-top: 10px;
  margin-left: -10px;
  padding-left: 10px;
  margin-right: -10px;
  padding-right: 10px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=index.css.map */
